{% extends 'base.html.twig' %}

{% block title %}Liste des praticiens{% endblock %}

{% block content %}
<!-- component -->
<br></br>
<div class="grid grid-cols-8">  
        
        
        
    </div>
      <table class="min-w-full table-auto">
        <thead class="justify-between">
          <tr class="bg-green-600">
            
            <th class="px-16 py-2">
              <span class="text-gray-300">First Name</span>
            </th>
            <th class="px-16 py-2">
              <span class="text-gray-300">Name</span>
            </th>
            <th class="px-16 py-2">
              <span class="text-gray-300">adresse</span>
            </th>

            <th class="px-16 py-2">
              <span class="text-gray-300">Coef Confiance</span>
            </th>

            <th class="px-16 py-2">
              <span class="text-gray-300">ville</span>
            </th>
          </tr>
        </thead>
        <tbody class="bg-gray-200">
          <tr class="bg-white border-4 border-gray-200">
            
            <td>
            {% for praticien in praticiens %}
              <span class="text-center ml-2 font-semibold">
              <p>{{ praticien.nom }}</p>
            {% endfor %}
            </td>
            <td class="px-16 py-2">
              {% for praticien in praticiens %}
              <span class="text-center ml-2 font-semibold">
              <p>{{ praticien.prenom }}</p>
            {% endfor %}
            </td>
            <td class="px-16 py-2">
              {% for praticien in praticiens %}
              <span class="text-center ml-2 font-semibold">
              <p>{{ praticien.adresse }}</p>
            {% endfor %}
            </td>
            <td>
            {% for praticien in praticiens %}
              <span class="text-center ml-2 font-semibold">
              <p>{{ praticien.coefConfiance }}</p>
            {% endfor %}
            </td>
            <td>
            {% for praticien in praticiens %}
              <span class="text-center ml-2 font-semibold">
              <p>{{ praticien.ville }}</p>
            {% endfor %}
            <td >
              
            </td>
          </tr>
          
            
          </tr>
        </tbody>
      </table>
    </div>


{% endblock %}
