{% extends 'base.html.twig' %}

{% block title %}Liste des comptes-rendus{% endblock %}

{% block content %}

<div class="bg-gray-300 m-10 border-2 border-gray-500">
    <!-- 2 -->
    <div class="col-span-6 m-5">

        <div class="bg-white border-2 border-gray-400">
            
            <div class="m-3">
                <table class="table-auto w-full">

                    <tr class="">
                        <td class="border border-black p-1 " ><p class="flex justify-center">Nom</p></td>
                        <td class="border border-black p-1 " ><p class="flex justify-center">Prenom</p></td>
                        <td class="border border-black p-1 " ><p class="flex justify-center">Ville</p></td>
                        <td class="border border-black p-1 " ><p class="flex justify-center">Date Visite</p></td>
                        <td class="border border-black p-1 " ><p class="flex justify-center">Date Rédaction</p></td>
                        <td class="border border-black p-1 " ><p class="flex justify-center">Lu</p></td>
                        <td class="border border-black p-1 " ><p class="flex justify-center">Consulter</p></td>
                    </tr>

                    <tr class="">
                        {# foreach #}
                        <td class="border border-black p-1 " >
                        {% for rapportvisite in rapportvisites %}
                        
                        <p>{{ rapportvisite.visiteur.nom }}</p>
                        {% endfor %}
                        </td>
                        <td class="border border-black p-1 " >
                        {% for rapportvisite in rapportvisites %}
                        
                        <p>{{ rapportvisite.visiteur.prenom }}</p>
                        {% endfor %}
                        </td>
                        <td class="border border-black p-1 " >
                        {% for rapportvisite in rapportvisites %}
                        
                        <p>{{ rapportvisite.visiteur.praticien.ville }}</p>
                        {% endfor %}
                        </td>
                        <td class="border border-black p-1 " >
                        {% for rapportvisite in rapportvisites %}
                        
                        <p>{{ rapportvisite.dateVisite }}</p>
                        {% endfor %}
                        </td>
                        <td class="border border-black p-1 " >
                        {% for rapportvisite in rapportvisites %}
                        
                        <p>{{ rapportvisite.dateRapport }}</p>
                        {% endfor %}
                        </td>
                        <td class="border border-black p-1 " >
                        {% for rapportvisite in rapportvisites %}
                        
                        <p>{{ rapportvisite.etat }}</p>
                        {% endfor %}
                        </td>
                        <td class="border border-black p-1" >
                        {% for rapportvisite in rapportvisites %}
                        
                        <p><a href="/compterendu/show/{{rapportvisite.id}}" >Consulter</a></p>

                        {% endfor %}
                        </td>
                    </tr>

                </table>
            </div>
        </div>

    </div>
  </div>

</div>
{% endblock %}
