{% extends 'base.html.twig' %}

{% block title %}Détails du compte-rendu{% endblock %}

{% block content %}
    <div class="bg-gray-300 m-10 border-2 border-gray-500 flex justify-center">

        <div class="bg-white border-2 border-gray-400 w-1/2 m-5">
            <div class="m-5">
                <h5 class="text-xl text-indigo-500 flex justify-center">

                    Compte rendu num :{{rapportvisite.id}}
                </h5>
                <p>
                    Nom : {{rapportvisite.visiteur.nom}}
                </p>
                <p>
                    Ville : {{rapportvisite.visiteur.ville}}
                </p>
                <p>
                    Date Visite : {{rapportvisite.dateVisite}}
                </p>
                <p>
                    Date Rédaction : {{rapportvisite.dateRapport}}
                </p>
                <p>
                    Coefficients de confiance : {{ rapportvisite.visiteur.praticien.coefConfiance }}
                </p>
                <p>
                    Coefficients de Notoriété : {{ rapportvisite.visiteur.praticien.coefNotoriete }}
                </p>
                <p>
                    Bilan : {{rapportvisite.bilan}}
                </p>
                <p>
                    Matricule : {{rapportvisite.visiteur.id}}
                </p>
            </div>
        </div>

    </div>
{% endblock %}